html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
}
*, *:before, *:after {
    box-sizing: inherit;
    /* outline: 1px solid red; */
}
body {
    background: hsl(233, 47%, 7%);
    font-size: 1.5rem;
    line-height: 1.5;
}
h1 {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: hsl(0, 0%, 100%);
    margin-top: 0;
}
h1 span {
    color: hsl(277, 64%, 61%);
}
p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    margin-top: 2.5rem;
} 
p span {
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}
.container {
    width: 100rem;
    max-width: 100%;
    min-height: 97vh;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 1rem 1rem 1rem 1rem;
}
.info {
    background-color: hsl(244, 38%, 16%);
    width: 54rem;
    min-height: 40rem;
    padding: 6rem 10rem 1rem 7rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.image {
    width: 46rem;
    max-width: 100%;
    height: 40rem;
    max-height: 100%;
    margin-left: 0;
    margin-right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(277, 64%, 61%);
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}
.image img {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    opacity: 0.75;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}
.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 4.5rem;
    margin-bottom: 0;
    padding-right: 6.5rem;
    line-height: 1.8;
} 
.stats p {
    color: hsla(0, 0%, 100%, 0.6);
    letter-spacing: 0.1rem;
    font-size: 1rem;
}
.stats .number {
    color: hsl(0, 0%, 100%);
    letter-spacing: 0rem;
    font-size: 1.85rem;
}
.attribution { 
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color:hsl(0, 0%, 100%);
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 1024px) {
    html {
        font-size: 55%;
    }
    .container {
        width: 600px;
        min-width: 320px;
        flex-direction: column;
        gap: 0;
        margin: 3rem auto;
        padding: 1rem 3rem;
    }
    .info {
        max-width: 600px;
        width: auto;
        padding: 8rem 10rem 4rem 7rem;
        text-align: center;
        border-radius: 0 0 1rem 1rem;
    }
    .image {
        width: 600px;
        margin: 0;
        background-size: contain;
        border-radius: 1rem 1rem 0 0;
    }
    .info {
        padding: 5rem 4rem 4rem 4rem;
        line-height: 2;
    }
    .info h1 {
        line-height: 1.5;
    }
    .info .text {
        font-size: 1.6rem;
    }
    .stats {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
    }
    .stats .number {
        font-size: 3rem;
    } 
}
@media (max-width: 400px) {
    html {
        font-size: 55%;
    }
    .container {
        width: 375px;
        min-width: 300px;
    }
    .image {
        height: 30rem;
    }
}