html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
}
*, *:before, *:after {
    box-sizing: inherit;
    /* outline: 1px solid red; */
}
body {
    background: hsl(233, 47%, 7%);
    font-size: 1.5rem;
    line-height: 1.5;
}
h1 {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    margin-top: 0;
}
h1 span {
    color: hsl(277, 64%, 61%);
}
p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
} 
p span {
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}
.container {
    width: 100rem;
    max-width: 100%;
    min-height: 95vh;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    
}
.info {
    background-color: hsl(244, 38%, 16%);
    width: 54rem;
    min-height: 45rem;
    padding: 7rem 10rem 7rem 7rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.image {
    width: 46rem;
    max-width: 100%;
    height: 45rem;
    max-height: 100%;
    margin-left: 0;
    margin-right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(277, 64%, 61%);
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}
.image img {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    opacity: 0.75;
}
.stats {
    display: flex;
    justify-content: space-between;
}




.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}